
    .pagination .page-link {
    background-color: #212529;
    border-color: #495057;
    color: white;
    }

    .pagination .page-link:hover {
    background-color: #343a40;
    border-color: #198754;
    color: white;
    }

    .pagination .page-item.active .page-link {
    background-color: #198754;
    border-color: #198754;
    color: white;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: #198754 !important;
    }
